venv/*
!venv/Lib/
venv/Lib/*
!venv/Lib/site-packages/
venv/Lib/site-packages/*
!venv/Lib/site-packages/geniusweb/
!venv/Lib/site-packages/geniusweb-1.2.1-py3.10.egg-info

.venv
.vscode
__pycache__

agent_storage
logs
results
domains

*.sbatch
*.log
*.pyc